---
layout: default
title: Nos speakers
---


<div id="speakers" class="container">
    <div class="row">
        <div class="box">
            <h1>Nos Speakers</h1>
            <p>
                Ils sont venus en lorraine pour nous faire profiter de leur savoir lors d'une ou parfois plusieurs soirées. Ils ont fait du LorraineJug ce qu'il est et le LorraineJug les en remercie.
            </p>

        </div>
    </div>
    {% for speakerMap in site.data.speakers reversed %} {% assign speaker = speakerMap[1] %}

    <div class="row" id="{{ speakerMap[0] }}">
        <div class="box">
            <h2>{{ speaker.firstname }} {{ speaker.lastname }}</h2>
            <div class="col-md-2">
                {% if speaker.gravatar %}
                <img src="http://www.gravatar.com/avatar/{{ speaker.gravatar }}?s=150" />
                {% elsif speaker.photo %}
                <img src="{{ site.baseurl }}/images/speakers/{{ speaker.photo }}" />
                {% else %}
                <img src="{{ site.baseurl }}/images/logo-carre_200x200.png" width="150px"/>
                {% endif %} {% if speaker.social %}
                <ul class="list-inline">
                    {% if speaker.social.twitter %}
                    <li>
                        <a href="http://www.twitter.com/{{ speaker.social.twitter }}" rel="external">
                            <img src="{{ site.baseurl }}/images/icones/twitter_icon_47x47.png" title="Twitter" height="47" width="47" />
                        </a>
                    </li>
                    {% endif %} {% if speaker.social.linkedin %}
                    <li>
                        <a href="http://fr.linkedin.com/in/{{ speaker.social.linkedin }}" rel="external">
                            <img src="{{ site.baseurl }}/images/icones/linkedin_icon_47x47.png" title="Linkedin" height="47" width="47" />
                        </a>
                    </li>
                    {% endif %} {% if speaker.social.github %}
                    <li>
                        <a href="http://github.com/{{ speaker.social.github }}" rel="external">
                            <img src="{{ site.baseurl }}/images/icones/github_icon_47x47.png" title="Github" height="47" width="47" />
                        </a>
                    </li>
                    {% endif %} {% if speaker.social.homepage %}
                    <li>
                        <a href="{{ speaker.social.homepage }}" rel="external">
                            <img src="{{ site.baseurl }}/images/icones/rss_icon_47x47.png" title="Site Perso" height="47" width="47" />
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>

            <div class="col-md-10">

                {% if speaker.bio %} {{ speaker.bio }} {% else %} <p>Bio à venir ...</p> {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>