---
layout: default
title: Nos Sponsors
---


<div id="sponsors" class="container">
<div class="row">
    <div class="box">
        <h1>Nos Sponsors</h1>

        <p>
            Sans leur soutient, le LorraineJug n'existerait tout simplement pas.
        </p>
    </div>
</div>


{% assign levels = site.data.sponsors | where:"actif", "true" | group_by:"level" %}

{% for level in levels %}
	{% for sponsor in level.items %}

		<div class="row">
			<div class="box">
				<h2>Partenaire {{ level.name | capitalize }}</h2>
				<div class="sponsor">
					<div class="col-md-2">
						<a href="{{ sponsor.url }}" rel="external"><img
								src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" title="{{ sponsor.name }}" /></a>

						{% if sponsor.twitter %}
							<ul class="list-inline">
								<li><a href="https://twitter.com/{{ sponsor.twitter }}" rel="external"><img
										src="{{ site.baseurl }}/images/icones/twitter_icon_47x47.png" alt="Twitter" /></a>
								</li>
							</ul>
						{% endif %}
					</div>
					<div class="col-md-10">
						<p>{{ sponsor.presentation }}</p>
					</div>
				</div>
			</div>
		</div>

	{% endfor %}
{% endfor %}

<div class="row">
    <div class="box">
        <h2>Mais aussi</h2>

        <span>
			{% assign sponsors = site.data.sponsors | where:"actif", "false" %}
			{% for sponsor in sponsors %}
			<a href="{{ sponsor.url }}" rel="external"><img
					src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}"
					title="{{ sponsor.name }}"/></a>

			{% endfor %}
        </span>
    </div>
</div>

<div class="row">
	<div class="box">
		<p>
			Si vous êtes intéressés et que vous voulez sponsoriser d'une manière ou d'une autre le LorraineJUG, <a
				href="contact.html">contactez-nous</a> afin de recevoir notre plaquette.
		</p>
	</div>
</div>
