<div class="container sponsors">

  {% assign levels = site.data.sponsors | where:"actif", "true" | group_by:"level" %}

  <div>
    {% for level in levels %}

        <h1>Partenaire {{ level.name | capitalize }}</h1>
        <div class="sponsors-img">
        	{% for sponsor in level.items %}
            <a href="{{ sponsor.url }}" rel="external">
              <img src="{{ site.baseurl }}/images/sponsors/{{ sponsor.logo }}" title="{{ sponsor.name }}"/>
            </a>
        	{% endfor %}
        </div>
    {% endfor %}
  </div>
</div>
