---
layout: event
title: Soirée CSS et HTML Offline
category: Annonce
edito: false
tags: ["HTML 5", "CSS 3", "Web"]
event-date: 2015-04-29 18:30:00 +0200
event-place: telecomnancy
eventbrite-id: 15689985168
---


<p>
	Le <a href="/">Lorraine JUG</a> (Java User Group de Lorraine) vous invite à sa prochaine soirée de conférence en
	compagnie de <a href="/speakers.html#rgoetter"/>Raphael GOETTER</a>	fondateur de
	<a href="http://www.alsacreations.fr/">Alsacréations</a> et <a href="/speakers.html#frenout‎"/>Frédéric RENOUT</a> pour découvrir
	CSS et le mode Offline de HTML 5.
</p>

{% include event-date.html %}

<div class="programme">Au programme de la soirée :
	<ul>
		<li>18:15 - Accueil et enregistrement</li>
		<li>18:30 - Flexbox avec <a href="/speakers.html#rgoetter"/>Raphael GOETTER</a>.
				<p>
					La spécification CSS3 Flexbox rassemble un sacré paquet de bonnes pratiques et répond aux attentes
					des webdesigners et intégrateurs accumulées depuis de longues années.
					<br />
					Dès aujourd’hui (ou dans un avenir proche selon votre cible), elle constitue sans aucun doute la
					méthode de positionnement la plus pratique et polyvalente qui n’ait jamais existé en CSS.
					<br />
					Alors, jouable ou pas ? En prod ou ça dépend ? Sommes-nous prêts pour la révolution CSS qu'est Flexbox ?
      </p>
		</li>
		<li>19:30 - HTML Offline 101 avec <a href="/speakers.html#frenout‎"/>Frédéric RENOUT</a>.
			<p>
				Aujourd'hui quasiment tout est web. Mais des que le réseau devient indisponible c'est la cata : plus d’accès
				à l'informations ou à nos applications.
				<br />
				Cette présentation proposera un tour d'horizon rapide des solutions qui s'offrent à nous pour permettre de
				rendre les sites accessibles hors connexion.
      </p>
		</li>
		<li>20:30 - Drink et tombola…</li>
	</ul>
</div>

{% include event-inscription.html %}
