---
layout: event
title: Apprends à programmer en t’amusant
category : Annonce
tags: ["Initiation à la programmation"]
event-date: 2015-03-07 14:00:00 +0100
event-place: telecomnancy
eventbrite-id: 15621851378
---


<p>
	Tu as entre 6 et 14 ans, tu t'intéresses à l'informatique, aux ordinateurs, aux robots... Rejoins-nous pour un atelier d’initiation à 
	la programmation à <a href="http://www.telecomnancy.eu/">TELECOM Nancy</a>.
</p>

{% include event-date.html %}

<div class="programme">Programme indicatif :
	<ul>
		<li>14h00 : Accueil et répartition dans les groupes</li>
		<li>14h10 : Début des ateliers</li>
		<li>15h20 : Démonstration</li>
		<li>15h30 : Pause / Goûter</li>
		<li>16h50 : Reprise des ateliers</li>
		<li>16h50 : Démonstration</li>
		<li>17h00 : Fin des ateliers</li>
	</ul>
</div>

<p>Les enfants devront être accompagnés d’un adulte.</p>
<p>Le goûter est offert.</p>

{% include event-inscription.html %}
