---
layout: event
title: Soirée Quickies
category: Annonce
edito: true
event-date: 2015-05-28 18:30:00 +0200
event-place: telecomnancy
eventbrite-id: 10407106937
---


<p>Une fois n'est pas coutume, le Lorraine JUG (Java User Group de Lorraine)
  vous invite à sa prochaine soirée de conférence, mais ne fournit pas le programme.</p>

{% include event-date.html %}

<p>La scène du Lorraine JUG sera ouverte à tous avec au programme entre 5 et 8
  sessions de 15 minutes maxi.</p>

<p>La liste des présentations retenues sera publiée par la suite.</p>

{% include event-inscription.html %}

<p>Vous avez envie de parler d'un sujet, mais pas de quoi tenir 1 heure de
  conférence?<br />
  Venez parler 15 minutes.
</p>
<br />
<p>Vous avez envie de présenter un sujet, mais n'êtes pas assez à l'aise pour
  vous lancer devant toute une salle?<br />
  Venez parler avec d'autres speakers.
</p>
<br />


<p>Proposez-nous dès aujourd'hui un sujet sur le thème de votre choix en
  complétant <a href="https://docs.google.com/forms/d/1opxisIYS_0QYHNsVxhGsPneJS_7BLxDXF05YqvIuQOQ/viewform">ce formulaire</a> avant le 20 mai :
</p>

<iframe src="https://docs.google.com/forms/d/1opxisIYS_0QYHNsVxhGsPneJS_7BLxDXF05YqvIuQOQ/viewform?embedded=true" width="760" height="950" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>
