---
layout: event
title: Soirée MongoDB
category : Annonce
tags: ["NoSQL", "MongoDB"]
event-date: 2015-03-25 18:30:00 +0100
event-place: telecomnancy
eventbrite-id: 15689945048
---


<p style="color: red; text-align: center;">
		<strong>Les speakers n'étant plus disponibles, la soirée est annulée.</strong>
</p>
<p>
	Le <a href="/">Lorraine JUG</a> (Java User Group de Lorraine) vous invite à sa prochaine soirée de conférence en
	compagnie de <a href="/speakers.html#tgrall‎"/>Tugdual “Tug” Grall</a> et <a href="/speakers.html#ahelaili"/>Alain Hélaïli</a>
	de la société <a href="http://www.mongodb.com/">MongoDB</a> pour découvrir la base de donées NoSQL MongoDB.
</p>

{% include event-date.html %}

<div class="programme">Au programme de la soirée :
	<ul>
		<li>18:15 - Accueil et enregistrement</li>
		<li>18:30 - Presentation Générale de MongoDB avec <a href="/speakers.html#tgrall‎"/>Tugdual “Tug” Grall</a> et <a href="/speakers.html#ahelaili"/>Alain Hélaïli</a>.
			<p>
				Architecture<br />
				Langage de requête et d’agrégation<br />
				Haute disponibilité et montée en charge<br />
				Management<br />
				MongoDB 2.8 : quoi de neuf?
			</p>
		</li>
		<li>19:30 - Développez votre première application avec <a href="/speakers.html#tgrall‎"/>Tugdual “Tug” Grall</a> et <a href="/speakers.html#ahelaili"/>Alain Hélaïli</a>.
			<p>
				Les Drivers : Java, ... et autres<br />
				Les frameworks et outils de mappings<br />
				Bonnes et mauvaises pratiques<br />
				Modélisation des données
			</p>
		</li>
		<li>20:30 - Drink et tombola…</li>
	</ul>
</div>

{% include event-inscription.html %}
