---
layout: event
title: Soirée Asciidoctor
category: Annonce
edito: true
tags: ["Asciidoc", "doc"]
event-date: 2015-04-14 18:30:00 +0200
event-place: telecomnancy
eventbrite-id: 16306355749
---


<p>
	Le <a href="/">Lorraine JUG</a> (Java User Group de Lorraine) vous invite à sa prochaine soirée de conférence en
	compagnie de <a href="/speakers.html#gscheibel"/>Guillaume SCHEIBEL</a>	développeur chez <a href="http://www.expedia.fr/">Expedia</a> pour découvrir Asciidoctor.
</p>

{% include event-date.html %}

<div class="programme">Au programme de la soirée :
	<ul>
		<li>18:15 - Accueil et enregistrement</li>
		<li>18:30 - Présentation d'Asciidoctor avec <a href="/speakers.html#gscheibel"/>Guillaume SCHEIBEL</a>.
			<p>
                “Est-ce que la doc est à jour ?”, “Elle est où la doc de la v1.5?”, “C’est quoi la différence avec la version précédente ?”, “C’est fatiguant de recréer à la main le PDF à chaque nouvelle version de l’application !”, “Comment je génère la table des matières dans cette m**!”, “Arf Word m’a encore pété mes listes numérotés !”<br>
                <br>
                Ecrire de la documentation, c’est la plupart du temps dans un fichier complètement distinct de l’application dont le format est contraignant pour le développeur, ce qui entraîne sa frustration et le résultat s’en ressent sur le livrable final. S’occuper de la forme n’est pas notre activité de prédilection, nous c’est le fond. Tout cela pour que ce document soit déposé dans un répertoire partagé voir au mieux dans une GED. Ne parlons même pas du fait d’essayer de voir la différence entre deux versions!<br>
                <br>
                Si cette introduction vous est familière alors Asciidoctor est là pour vous. Simple, clair et concis. Durant cette présentation nous allons voir ensemble la syntaxe, l’intégration dans une applications et dans son cycle de vie ainsi que la personnalisation du rendu. Et vous vous rendrez compte que faire de la documentation n'est pas forcément une prise de tête.
            </p>
		</li>
		<li>20:00 - Drink et tombola…</li>
	</ul>
</div>

{% include event-inscription.html %}
