---
layout: event
title: Soirée Tomitribe - Apache TomEE et JCS
category : Annonce
tags: ["Apache", "TomEE", "Java Caching System"]
event-date: 2015-02-26 18:30:00 +0100
event-place: telecomnancy
eventbrite-id: 15689216870
---


<p>
	Le <a href="/">Lorraine JUG</a> (Java User Group de Lorraine) vous invite à sa prochaine soirée de conférence en
	compagnie de <a href="/speakers.html#rmannibucau"/>Romain Manni-Bucau</a> et <a href="/speakers.html#jlmonteiro"/>Jean-Louis Monteiro</a>
	de la société <a href="http://www.tomitribe.com/">Tomitribe</a> pour découvrir Apache TomEE et Apache JCS.
</p>

{% include event-date.html %}

<div class="programme">Au programme de la soirée :
	<ul>
		<li>18:15 - Accueil et enregistrement</li>
		<li>18:30 - TomEE avec <a href="/speakers.html#rmannibucau"/>Romain Manni-Bucau</a> et <a href="/speakers.html#jlmonteiro"/>Jean-Louis Monteiro</a>
			<p>Cette partie de la session permettra de faire connaissance et de voir comment Tomcat permet de supporter
				la technologie Java EE en conservant sa simplicité et sa légèreté, tout ce qui fait sa force et que la
				majorité des entreprises ont choisi.</p>
		</li>
		<li>19:30 - Apache JCS : JCache mais pas que ! avec <a href="/speakers.html#rmannibucau"/>Romain Manni-Bucau</a> et <a href="/speakers.html#jlmonteiro"/>Jean-Louis Monteiro</a>
			<p>Apache Java Caching System (JCS) est une solution de cache pour les applications Java. Bien qu'elle soit
				encore méconnue cette solution a fait ses preuves depuis de nombreuses années et revient sur le devant
				de la scène grâce à son implémentation de la spécification JCache et son intégration dans le serveur
				Apache TomEE.</p>
			<p>Durant notre présentation nous vous proposons de découvrir cette solution en commençant par un rapide
				rappel sur les nouveautés apportées par JCache, puis par une partie sur JCS lui-même et ses
				particularités par rapport à quelques-un de ses concurrents et enfin quelques exemples d'utilisation
				avancées (système remote par exemple).</p>
			<p>Que se soit par curiosité ou parce que vous souhaitez mettre en place une solution de cache dans votre
				application, cette présentation vous intéressera surement.</p>
		</li>
		<li>20:30 - Drink et tombola…</li>
	</ul>
</div>

{% include event-inscription.html %}