---
layout: event
title: Soirée Quickies
category: Annonce
edito: true
tags: ["GIT", "JHispter", "Dev Tools", "CSS", "Devoxx"]
event-date: 2015-05-28 18:30:00 +0200
event-place: telecomnancy
eventbrite-id: 10407106937
---


<p>
	Le <a href="/">Lorraine JUG</a> (Java User Group de Lorraine) vous invite à sa prochaine soirée de conférence en
	avec 5 speackers au programme.
</p>

{% include event-date.html %}

<div class="programme">Au programme de la soirée :
	<ul>
		<li>18:15 - Accueil et enregistrement</li>
		<li>18:30 - 5 mini sessions.
				<p>Retour Devoxx France 2015 par <strong><a href="/speakers.html#jmdoudoux">Jean-Michel DOUDOUX</a></strong><br/>
					Résumé des sujets + quizz
					</p>
				<p>JHispter par <strong><a href="/speakers.html#gbilley">Guillaume BILLEY</a></strong><br/>
					A chaque nouveau projet c'est la même chose au démarrage des développements :<br/>
					- Ecrire les entités,<br/>
					- Ecrire la couche de persistance,<br/>
					- Ecrire les WS de bases (CRUD),<br/>
					- Faire la partie cliente de bases (CRUD).<br/>
					Et l'opération est a recommencer à chaque nouvelle entité.<br/>
					Nous verrons comment JHipster peut nous faciliter la vie sur cette partie, en 10 minutes nous monterons un projet "full stack".
				</p>
				<p>GitFlow par <strong><a href="/speakers.html#sdalichampt">Samuel DALICHAMPT</a></strong><br/>
					GitFlow propose à la fois un modèle de gestion des branches de developpement et une suite de commande Git. Passons les commandes en revue lors d'un exemple.
				</p>
				<p>Tours d'horison Outils de développement web par <strong><a href="/speakers.html#cbelhaffef">Charif BELHAFFEF</a></strong><br />
					Rétrospectives sur la présentations : Tour d’horizon des outils pour être un développeur web productif
					tools in Action sera fait sous forme de live coding pour montrer comment Chrome ou Firefox peuvent
					vous aider à optimiser / tester vos sites / applications.</p>
				<p>Je suis venu, j'ai vu [...] je suis convaincu par <strong><a href="/speakers.html#xroy">Xavier ROY</a></strong><br/>
					Suite à la CSS3 Flexbox suite à la dernière session du Lorraine JUG. Je me suis essayé à utiliser cette
					techno et convertir une page web librement inspirée du site adopteunmec.com... Je vous livrerai mes
					impressions quant à ce mise en œuvre de ce layout avec et sans Flexbox.
				</p>
		<li>20:30 - Drink et tombola…</li>
	</ul>
</div>

{% include event-inscription.html %}
