---
layout: default
---

<div class="container">
    <div class="row">
        <article class="box">
            <header>
                <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a>
                </h1>
            </header>
            {{ content }}
            <div class="article-footer">
                <div class="date">
                    {% assign m = page.date | date: "%-m" %}
                    {{ page.date | date: "%-d" }}
                    {% case m %}
                        {% when '1' %}Janvier
                        {% when '2' %}Février
                        {% when '3' %}Mars
                        {% when '4' %}Avril
                        {% when '5' %}Mai
                        {% when '6' %}Juin
                        {% when '7' %}Juillet
                        {% when '8' %}Août
                        {% when '9' %}September
                        {% when '10' %}October
                        {% when '11' %}November
                        {% when '12' %}December
                    {% endcase %}
                    {{ page.date | date: "%Y" }}
                </div>
                {% if page.category %}
                <div class="category">{{ page.category }}</div>
                {% endif %}
                {% if page.tags %}
                <div class="tags">
                    {% for tag in page.tags %}
                        {{ tag }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </article>
    </div>
</div>