---
layout: default
title: LorraineJug
---


<div class="container">
    {% for post in paginator.posts %}
        {% include article.html post=post %}
    {% endfor %}

    {% if paginator.total_pages > 1 %}
        <div id="pagination" class="row">
            <div class="box">
                {% if paginator.previous_page and paginator.previous_page > 1 %}
                    <a href="{{ site.baseurl }}/events/{{ paginator.previous_page }}" class="previous">Événements plus recents&lt;&lt;&lt;</a>
                {% elsif paginator.previous_page == 1 %}
                    <a href="{{ site.baseurl }}/events/" class="previous">Événements plus recents&lt;&lt;&lt;</a>
                {% endif %}

                {% if paginator.next_page %}
                    <a href="{{ site.baseurl }}/events/{{ paginator.next_page }}" class="next">&gt;&gt;&gt;Événements plus anciens</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
